body {
    margin: 0;
    padding: 0;
    font-family: 'Tangerine', sans-serif;
    height: 100%;
}




.container3 {
    font-family: 'Fredericka The Great', cursive;
    width: 55%;
    height: 55%;
  display: block;
  position: absolute;
    color: white;
    font-size: 1rem;
    text-align: center;
    border: 5px solid black;
    margin-left: 23%;
    margin-right: 50%;
}

.container3 h6 {
    background: #afaeae;
    padding: .6rem;
    text-align: center;
}

.container3 h3 {
    color: black;
    text-align: center;
}




#aboutThis {
    
    width: 100%;
    float: right;
    color: white;
    font-size: 1rem;
    text-align: center;
}

#aboutThis h6 {
    background: #afaeae;
    padding: .6rem;
    text-align: center;
}



a {
    text-decoration: none;
    color: black;
}

#contact {
    
    background: white;
    background-size: 50% 150%;
    background-position: right;
    width: 100%;
    float: right;
    color: white;
    font-size: 1rem;
    text-align: center;
}

#contact h6 {
    margin-top: 0;
    background: #afaeae;
    padding: .6rem;
    text-align: center;
}

#contact h3,
h4,
h5 {
    color: rgb(3, 3, 3);
}

#text {
    font-family: 'Tangerine', sans-serif;
    width: 100%;
    margin: 23px auto;
}
h5{
    font-family: 'Tangerine', sans-serif;
}





/*------------------------------Media queries--------------------------------------*/
/* 1.Responsive menu*/

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }

  

    /*Full width divs on mobile */

  

    .info-right {
        width: 100%;
        height: 100%;
    }

    .info-right .scroll {
        position: static;
        margin: 0 auto 15px auto;
        padding-bottom: 13px;
    }

    .container3,
    #aboutThis {
        position: static;
        width: 100%;
    }

    #contact {
        width: 100%;
        background-size: 30% 150%;
        background-position: right;
    }

    figcaption {

        margin: -1.2% auto 0 auto;
        padding: 12px;

    }

}

/*Landscape view mobile */

@media all and (min-height: 0px) and (max-height: 480px) {
    .logos {
        margin-top: 2.3%;
    }

    .centered h1 {
        margin-top: 3%;
    }
}





*,
*:after,
*:before {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%
}

.block-main {
    width: 100%;
    height: 100%
}

.block-main>.block {
    width: 50%;
    height: 50%;
    min-height: 200px;
    float: center;
    transition: all 0.5s ease-in
}

.block-main>.block .block-box {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out, opacity 0.2s linear 0.5s
}

.block-main>.block .block-box:hover {
    transform: translateY(-15px)
}

.block-main>.block .block-icon {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    speak: none;
    cursor: pointer;
    color: #fff;
    -webkit-font-smoothing: antialiased
}

.block-main>.block .block-content {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: opacity 0.1s linear 0s
}

.block-main>.block .block-icon-close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 35px;
    opacity: 0
}

.block-main>.block.about {
    background: #000000
}

.block-main>.block.about.block-expanded-item {
    background: #323233
}

.block-main>.block.works {
    background: #424242
}

.block-main>.block.works.block-expanded-item {
    background: #5b5c5c
}

.block-main>.block.blog {
    background: #6c6d6c
}

.block-main>.block.blog.block-expanded-item {
    background: #7d7d7e
}

.block-main>.block.contact {
    background: #848385
}

.block-main>.block.contact.block-expanded-item {
    background: #979697
}

.block-main>.block-expanded-item {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100
}

.block-main>.block-expanded-item .block-box {
    opacity: 0;
    transition: opacity 0s linear;
    cursor: auto
}

.block-main>.block-expanded-item .block-content,
.block-main>.block-expanded-item .block-icon-close {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.3s linear 0.5s
}

.block-main.block-expanded {
    overflow: hidden
}

.block-main.block-expanded>.block:not(.block-expanded-item) {
    transform: scale(0.5);
    opacity: 0
}

@media screen and (max-width: 46.5em) {

    .block-content,
    .block-box {
        font-size: 75%
    }

    .block-expanded-item .block-box {
        height: 130px
    }
}

*,*:after,*:before{box-sizing:border-box}html,body{width:100%;height:100%}.block-main{width:100%;height:100%}.block-main>.block{width:50%;height:50%;min-height:200px;float:left;transition:all 0.5s ease-in}.block-main>.block .block-box{position:relative;width:100%;height:100%;cursor:pointer;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;transition:all 0.2s ease-in-out, opacity 0.2s linear 0.5s}.block-main>.block .block-box:hover{transform:translateY(-15px)}.block-main>.block .block-icon{text-align:center;margin:0;padding:20px;width:100%;font-size:1.8em;letter-spacing:2px;font-weight:700;text-transform:uppercase;line-height:2;speak:none;cursor:pointer;color:#fff;-webkit-font-smoothing:antialiased}.block-main>.block .block-content{opacity:0;pointer-events:none;position:absolute;top:60px;left:30px;right:30px;bottom:30px;padding:0 20px;overflow:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;transition:opacity 0.1s linear 0s}.block-main>.block .block-icon-close{position:absolute;top:20px;right:30px;cursor:pointer;font-size:35px;opacity:0}.block-main>.block.about{background:#000000}.block-main>.block.about.block-expanded-item{background:#262727}.block-main>.block.works{background:#2b2c2c}.block-main>.block.works.block-expanded-item{background:#565757}.block-main>.block.blog{background:#808080}.block-main>.block.blog.block-expanded-item{background:#7a7a7a}.block-main>.block.contact{background:#989899}.block-main>.block.contact.block-expanded-item{background:#a539ec}.block-main>.block-expanded-item{width:100%;height:100%;top:0;left:0;position:fixed;z-index:100}.block-main>.block-expanded-item .block-box{opacity:0;transition:opacity 0s linear;cursor:auto}.block-main>.block-expanded-item .block-content,.block-main>.block-expanded-item .block-icon-close{pointer-events:auto;opacity:1;transition:opacity 0.3s linear 0.5s}.block-main.block-expanded{overflow:hidden}.block-main.block-expanded>.block:not(.block-expanded-item){transform:scale(0.5);opacity:0}@media screen and (max-width: 46.5em){.block-content,.block-box{font-size:75%}.block-expanded-item .block-box{height:130px}}
